<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Payment-Animal Support System</title>
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    </head>
    <body style='background-color: bisque;'>
        <img src="{% static 'images/rescueimg.png' %}" alt='hello' style="position: absolute; left: 0.1%; top:0.1%; z-index: -1;height:auto; max-height:35%;width:99.9vw;"/>

        <h1 style="font-size: 3vw; text-align :center;position:relative;top:15vw">Donation</h1>
        <h1 style="font-size: 2.5vw; text-align :center;position:relative;top:14vw">ANIMAL LIVE'S MATTER</h1>
        <p style="font-family:'Courgette' ;font-size: 2vw; text-align :center;position:relative;top:14vw"> Your donation is important to us as small amount of donation can save lives of many animals.</p>
        <form action="{% url 'charge' %}" method="post">
            {% csrf_token %}
            <div style="position: relative;height:auto;left: 46vw;top:14vw"><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-description="Payment Gateway"
                data-amount=""
                data-locale="auto">
          </script>

          </div>
          </form>
    </body>
    </html>